html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(83, 80, 80);
  width: 100vw;
  height: 100px;
  padding: 10px;
  color: white;
}

.mcc {
  padding: 30px;
}

.blog-snippet {
  margin: 20px;
  border: 5px solid black;
}
